.contact {
   .flex-container {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
   }
}

.contact__right {
   width: 476px;
}

.input {
   display: block;
   width: 100%;
   height: 55px;
   margin-bottom: 30px;
   padding-left: 20px;
   padding-right: 20px;
   background: #DFF8F8;
   border-radius: 15px;
   border: 1px solid transparent;
   font-weight: 500;
   font-size: 16px;
   line-height: 170%;
   color: #000000;

   &::-webkit-input-placeholder {
      color: rgba(#000000, 0.4);
   }

   &::-moz-placeholder {
      color: rgba(#000000, 0.4);
   }

   &:-ms-input-placeholder {
      color: rgba(#000000, 0.4);
   }

   &::-ms-input-placeholder {
      color: rgba(#000000, 0.4);
   }

   &::placeholder {
      color: rgba(#000000, 0.4);
   }

   &:focus {
      border: 1px solid #5D8E88;
      outline: none;
   }
}

.contact__form {
   padding-top: 40px;
   text-align: right;
}