@font-face {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 300;
   font-display: swap;
   src: url('/fonts/poppins_300.woff2') format('woff2'),
   url('/fonts/poppins_300.woff') format('woff');
}

@font-face {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url('/fonts/poppins_400.woff2') format('woff2'),
   url('/fonts/poppins_400.woff') format('woff');
}

@font-face {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: url('/fonts/poppins_500.woff2') format('woff2'),
   url('/fonts/poppins_500.woff') format('woff');
}

@font-face {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-display: swap;
   src: url('/fonts/poppins_600.woff2') format('woff2'),
   url('/fonts/poppins_600.woff') format('woff');
}