.footer {
   padding-top: 130px;
}

.footer__inner {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-top: 27px;
   padding-bottom: 40px;
   border-top: 2px solid #B8D8C7;
}

.footer__text {
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.05em;
   color: rgba(0, 0, 0, 0.5);
}

.footer__phone {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-bottom: 18px;
   font-weight: 600;
   font-size: 16px;
   line-height: 31px;
   transition: 0.3s;

   svg {
      margin-right: 7px;
   }
}

.footer__socials {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.footer__socials__item:not(:last-child) {
   margin-right: 20px;
}