.header__inner {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: flex-end;
   padding-top: 32px;
   padding-bottom: 31px;
   border-bottom: 2px solid #B8D8C7;
}

.logo {
   margin-right: 118px;
}

.nav {
   -webkit-box-flex: 1;
   -ms-flex-positive: 1;
   flex-grow: 1;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.nav__ul {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.nav__li:not(:last-child) {
   margin-right: 50px;
}

.nav__link {
   font-weight: 400;
   font-size: 16px;
   line-height: 193%;
   color: rgba(39, 59, 57, 0.8);
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;

   &:hover {
      color: #C68800;
   }
}

.nav__phone {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   margin-left: auto;
   font-weight: 600;
   font-size: 16px;
   line-height: 193%;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;

   svg {
      margin-right: 7px;
   }
}

.hamburger {
   display: none;
   padding: 0;
   background: transparent;
   cursor: pointer;

   img {
      vertical-align: middle;
   }
}