.header__inner {
   display: flex;
   align-items: flex-end;
   padding-top: 32px;
   padding-bottom: 31px;
   border-bottom: 2px solid #B8D8C7;
}

.logo {
   margin-right: 118px;
}

.nav {
   flex-grow: 1;
   display: flex;
   align-items: center;
}

.nav__ul {
   display: flex;
   align-items: center;
}

.nav__li:not(:last-child) {
   margin-right: 50px;
}

.nav__link {
   font-weight: 400;
   font-size: 16px;
   line-height: 193%;
   color: rgba(39, 59, 57, 0.8);
   transition: 0.2s;

   &:hover {
      color: rgb(39, 59, 57);
   }
}

.nav__phone {
   display: flex;
   align-items: center;
   margin-left: auto;
   font-weight: 600;
   font-size: 16px;
   line-height: 193%;
   transition: 0.3s;

   svg {
      margin-right: 7px;
   }
}

.hamburger {
   display: none;
   padding: 0;
   background: transparent;
   cursor: pointer;

   img {
      vertical-align: middle;
   }
}