.partners .splide__arrows {
   width: calc(100% + 144px);
   top: 97px;
   right: -72px;
   left: -72px;
}

.partners__card {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 200px;
   border-left: 1px solid rgba(176, 215, 192, 0.5);
   border-right: 1px solid rgba(176, 215, 192, 0.5);
}