<%- include('parts/header') %>

<!-- HEADER -->
<header class="header">
    <div class="container">
        <div class="header__inner">
            <img class="logo" src="/img/icons/logo.svg" alt="Fulfil logo">

            <nav class="nav nav-close">
                <ul class="nav__ul">
                    <li class="nav__li">
                        <a class="nav__link" href="#why-us">Nega aynan biz?</a>
                    </li>
                    <li class="nav__li">
                        <a class="nav__link" href="#courses">Kurslar</a>
                    </li>
                    <li class="nav__li">
                        <a class="nav__link" href="#mentors">O'qituvchilar</a>
                    </li>
                    <li class="nav__li">
                        <a class="nav__link" href="#feedback">O'quvchilar fikri</a>
                    </li>
                    <li class="nav__li">
                        <a class="nav__link" href="#contact">Aloqa</a>
                    </li>
                </ul>

                <a class="nav__phone" href="tel: +998993421009">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.56613 1.84962C3.73432 1.68174 3.95559 1.59394 4.18013 1.59394C4.31865 1.59394 4.45865 1.62716 4.58827 1.69597C5.55658 2.20851 6.72021 4.16926 6.75007 4.21959L6.75059 4.22047C6.88377 4.4539 6.9345 4.69742 6.88615 4.87183C6.85649 4.97861 6.79004 5.05989 6.68326 5.1198L3.98851 9.64971C2.72167 8.38286 1.94869 7.17475 1.69064 6.05948M3.56613 1.84962L2.81362 2.60213C1.76301 3.65304 1.3958 4.78344 1.69064 6.05948M3.56613 1.84962L3.74276 2.02655M3.56613 1.84962L4.16529 9.47293M1.69064 6.05948L1.9342 6.00312C1.66171 4.82369 1.99106 3.77854 2.9904 2.77891L2.81383 2.60234L2.99042 2.77888M1.69064 6.05948L1.93422 6.0032C2.17737 7.05394 2.91446 8.2221 4.16529 9.47293C4.16529 9.47293 4.16529 9.47293 4.16529 9.47293M4.16529 9.47293L8.5273 13.8346C9.87509 15.1823 11.1046 15.9217 12.2079 16.1056C13.2928 16.2865 14.2945 15.9362 15.2213 15.0096C15.2213 15.0095 15.2213 15.0095 15.2213 15.0095L15.9738 14.257C16.168 14.0629 16.2117 13.7716 16.0834 13.5293L16.0833 13.5292C15.9726 13.32 15.7736 13.0852 15.5215 12.8446C15.272 12.6065 14.983 12.3745 14.7055 12.1694C14.1705 11.7739 13.6917 11.4884 13.6513 11.4644C13.454 11.3526 13.282 11.3328 13.1947 11.3557C13.159 11.366 13.129 11.3857 13.0983 11.4402L13.0928 11.45L13.0863 11.4594L13.0555 11.5042L13.049 11.5136L13.0416 11.5224C12.9354 11.6499 12.7528 11.8662 12.5726 12.0673C12.4826 12.1678 12.3916 12.2661 12.3101 12.3484C12.2329 12.4264 12.1509 12.5037 12.082 12.5505L12.0818 12.5506C12.0186 12.5934 11.9552 12.6334 11.8917 12.6704C12.2064 12.7764 12.5512 12.8586 12.9213 12.8969L12.9218 12.897C13.2217 12.9286 13.44 13.1967 13.4088 13.4974L13.4088 13.4978C13.3792 13.7783 13.1422 13.9874 12.8653 13.9874C12.8458 13.9874 12.8279 13.9862 12.8131 13.985L12.8086 13.9846L12.8086 13.9845C10.6772 13.7632 9.28659 12.4142 9.21819 12.3466L9.21725 12.3456C9.19315 12.3215 9.1769 12.2976 9.16747 12.2825C9.16129 12.2768 9.15365 12.2696 9.14577 12.2617L6.0227 9.13863C6.01412 9.13327 6.00448 9.12667 5.99467 9.11881L5.9921 9.11676L5.99212 9.11675C5.91675 9.05482 4.24114 7.65665 4.016 5.48851L4.01599 5.48846C3.98482 5.1876 4.2036 4.91972 4.50298 4.88809L4.50986 4.88737L4.50986 4.88746C4.80147 4.86479 5.07189 5.07067 5.10359 5.37543L5.10359 5.37548C5.13338 5.66254 5.19799 5.9347 5.2852 6.18979C5.3343 6.09915 5.38944 6.0087 5.45055 5.91844L5.45063 5.91832C5.49732 5.84943 5.57467 5.76743 5.65261 5.69029C5.73489 5.60885 5.83328 5.51789 5.93373 5.42788C6.13488 5.24765 6.35127 5.06498 6.47857 4.95872L6.48715 4.95157L6.49633 4.9452L6.54082 4.91435L6.55057 4.90759L6.56093 4.90178C6.61624 4.87074 6.63535 4.84063 6.64527 4.80492C6.66864 4.72037 6.64961 4.54875 6.53446 4.34612C6.51168 4.30778 6.22645 3.82943 5.8309 3.29437C5.62594 3.01712 5.39395 2.72819 5.15592 2.47875C4.91531 2.22662 4.68053 2.02767 4.47132 1.91693L4.47104 1.91679C4.37816 1.86748 4.2785 1.84394 4.18013 1.84394C4.0211 1.84394 3.86363 1.90595 3.74287 2.02644C3.74283 2.02647 3.74279 2.02651 3.74276 2.02655M4.16529 9.47293L2.99042 2.77888M3.74276 2.02655L2.99042 2.77888M3.74276 2.02655L2.99042 2.77888M14.2002 10.5185L14.1976 10.517C13.7772 10.2771 13.3165 10.1869 12.9032 10.3016C12.5949 10.3871 12.3433 10.581 12.1741 10.8552C12.0276 11.0301 11.8652 11.2179 11.7282 11.3703C11.6577 11.4487 11.595 11.5166 11.5453 11.5681C11.5203 11.5939 11.4997 11.6144 11.4838 11.6296C11.4717 11.641 11.4651 11.6467 11.4629 11.6486C11.1418 11.8649 10.8868 11.9374 10.6646 11.9152C10.4403 11.8928 10.1998 11.7689 9.91903 11.4881L6.51211 8.08121C6.23122 7.80032 6.10731 7.55966 6.08485 7.33543C6.06258 7.1132 6.13512 6.85854 6.35113 6.53815C6.35301 6.53593 6.35876 6.52921 6.37041 6.51692C6.38565 6.50084 6.40624 6.4802 6.4321 6.4552C6.4837 6.4053 6.55164 6.34255 6.63014 6.272C6.78268 6.13491 6.97044 5.97254 7.14543 5.82581C7.41962 5.65663 7.61347 5.40497 7.69893 5.09672L7.69895 5.09665C7.81337 4.68349 7.7233 4.22286 7.48179 3.7994L7.48181 3.7994L7.48047 3.79711C7.45236 3.74901 7.12873 3.20085 6.66824 2.58761C6.21543 1.98459 5.60005 1.27678 4.98339 0.950573C4.31514 0.597016 3.50556 0.718768 2.97061 1.25336C2.9706 1.25336 2.9706 1.25337 2.97059 1.25337L2.2175 2.00587L2.21743 2.00594C0.974201 3.24917 0.507093 4.68402 0.868959 6.24927L0.868968 6.24931C1.16718 7.53824 2.02838 8.88225 3.39234 10.2459L7.75404 14.6079L7.75405 14.6079C9.48317 16.337 11.1736 17.2486 12.7651 17.2486C13.9411 17.2486 15.027 16.7498 15.9943 15.7828L15.9943 15.7828L16.7468 15.0303C17.2815 14.4956 17.4032 13.6854 17.0496 13.0174C16.7233 12.4006 16.0155 11.7853 15.4121 11.3322C14.7984 10.8715 14.2495 10.5474 14.2002 10.5185Z"
                              fill="#273B39" stroke="#273B39" stroke-width="0.5"/>
                    </svg>

                    <span>99 342 10 09</span>
                </a>
            </nav>

            <button class="hamburger">
                <img src="/img/icons/hamburger.svg" alt="Hamburger icon">
            </button>
        </div>
    </div>
</header>

<!--INTRO-->
<section class="intro">
    <div class="flex-container">
        <div class="intro__motto" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
            <h1 class="intro__heading">
                <strong>“Fulfil education” <br></strong>
                <span> - zamonaviy kasblar maktabi</span>
            </h1>
            <a class="button" href="#courses">Kursga yozilish</a>
        </div>
        <img class="intro__img" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" src="/img/intro.png" alt="Intro image">
    </div>
    <div class="container">
        <ul class="statistics">
            <li class="statistics__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="0"  data-aos-once="true">
                <p class="statistics__value">100</p>
                <p class="statistics__description">O'quvchilar</p>
            </li>
            <li class="statistics__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50"  data-aos-once="true">
                <p class="statistics__value">100K</p>
                <p class="statistics__description">Darslar soati</p>
            </li>
            <li class="statistics__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"  data-aos-once="true">
                <p class="statistics__value">12</p>
                <p class="statistics__description">O'qituvchilar</p>
            </li>
            <li class="statistics__item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150"  data-aos-once="true">
                <p class="statistics__value">22</p>
                <p class="statistics__description">Guruhlar soni</p>
            </li>
        </ul>
    </div>
</section>

<!--SECTION WHY-US-->
<section class="section why-us">
    <div class="container" id="why-us">
        <header class="section__header section__header--why-us">
            <h2 class="section__heading" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">Nega aynan biz?</h2>
        </header>
        <main class="section__main section__main--why-us"  data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
            <div class="why-us__card">
                <div class="why-us__card__header">
                    <img src="/img/why-us/1.png" alt="">
                </div>
                <p class="why-us__card__text">
                    <strong>Malakali</strong> <br>
                    o'qituvchilar
                </p>
            </div>
            <div class="why-us__card">
                <div class="why-us__card__header">
                    <img src="/img/why-us/2.png" alt="">
                </div>
                <p class="why-us__card__text">
                    <strong>30%</strong> nazariyot va <strong>70%</strong> <br> amaliyot
                </p>
            </div>
            <div class="why-us__card">
                <div class="why-us__card__header">
                    <img src="/img/why-us/3.png" alt="">
                </div>
                <p class="why-us__card__text">
                    <strong>Kafolatlangan</strong> ish <br> joyi
                </p>
            </div>
            <div class="why-us__card">
                <div class="why-us__card__header">
                    <img src="/img/why-us/4.png" alt="">
                </div>
                <p class="why-us__card__text">
                    Va albatta <br>
                    <strong>Yuqori natija</strong>
                </p>
            </div>
        </main>
    </div>
</section>

<!--SECTION WHY-US-->
<section class="section courses">
    <div class="container" id="courses">
        <header class="section__header section__header--courses">
            <h2 class="section__heading" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">Kurslarimiz</h2>
        </header>
        <main class="section__main section__main--courses" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
            <div class="splide courses__slider">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="courses__card">
                                <div class="courses__card__header">
                                    <img src="/img/courses/1.png" alt="">
                                </div>
                                <div class="courses__card__body">
                                    <h3 class="courses__card__heading">Frontend</h3>
                                    <p class="courses__card__text">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has</p>
                                    <button class="courses__card__enroll" data-course-name="Frontend">
                                        <span>Kursga yozilish</span>
                                        <img src="/img/icons/enroll-arrow.svg" alt="arrow left">
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="courses__card">
                                <div class="courses__card__header">
                                    <img src="/img/courses/2.png" alt="">
                                </div>
                                <div class="courses__card__body">
                                    <h3 class="courses__card__heading">Backend</h3>
                                    <p class="courses__card__text">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has</p>
                                    <button class="courses__card__enroll" data-course-name="Backend">
                                        <span>Kursga yozilish</span>
                                        <img src="/img/icons/enroll-arrow.svg" alt="arrow left">
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="courses__card">
                                <div class="courses__card__header">
                                    <img src="/img/courses/3.png" alt="">
                                </div>
                                <div class="courses__card__body">
                                    <h3 class="courses__card__heading">Android</h3>
                                    <p class="courses__card__text">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has</p>
                                    <button class="courses__card__enroll" data-course-name="Android">
                                        <span>Kursga yozilish</span>
                                        <img src="/img/icons/enroll-arrow.svg" alt="arrow left">
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</section>

<!--SECTION TEACHERS-->
<section class="section teachers">
    <div class="container" id="mentors">
        <header class="section__header section__header--teachers">
            <h2 class="section__heading" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">O'qituvchilar</h2>
        </header>
        <main class="section__main section__main--teachers" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
            <div class="splide teachers__slider">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="teachers__card">
                                <div class="teachers__card__header">
                                    <img src="/img/teachers/1.jpg" alt="">
                                </div>
                                <div class="teachers__card__body">
                                    <h3 class="teachers__card__heading">Og'abek Sultonbayev</h3>
                                    <p class="teachers__card__text">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has</p>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="teachers__card">
                                <div class="teachers__card__header">
                                    <img src="/img/teachers/2.jpg" alt="">
                                </div>
                                <div class="teachers__card__body">
                                    <h3 class="teachers__card__heading">Asadbek Zoirov</h3>
                                    <p class="teachers__card__text">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has</p>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="teachers__card">
                                <div class="teachers__card__header">
                                    <img src="/img/teachers/3.jpg" alt="">
                                </div>
                                <div class="teachers__card__body">
                                    <h3 class="teachers__card__heading">Sitora Abdikadirova</h3>
                                    <p class="teachers__card__text">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has</p>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="teachers__card">
                                <div class="teachers__card__header">
                                    <img src="/img/teachers/4.jpg" alt="">
                                </div>
                                <div class="teachers__card__body">
                                    <h3 class="teachers__card__heading">Azizbek Biyimbetov</h3>
                                    <p class="teachers__card__text">Lorem Ipsum is simply dummy text of the printing and
                                        typesetting industry. Lorem Ipsum has</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</section>

<!--SECTION FEEDBACKS-->
<section class="section feedbacks">
    <div class="container" id="feedback">
        <header class="section__header section__header--feedbacks">
            <h2 class="section__heading" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">O'quvchilarimiz fikri</h2>
        </header>
        <main class="section__main section__main--feedbacks" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
            <div class="splide feedbacks__slider">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="feedbacks__card">
                                <div class="feedbacks__card__header">
                                    <img class="feedbacks__card__avatar" src="/img/icons/avatar.png" alt="avatar icon">
                                    <div class="feedbacks__card__student">
                                        <h3>Eshonov Fakhriyor</h3>
                                        <p>Frontend</p>
                                    </div>
                                </div>
                                <div class="feedbacks__card__body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it </p>
                                </div>
                                <div class="feedbacks__card__footer">
                                    25.10.2020
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="feedbacks__card">
                                <div class="feedbacks__card__header">
                                    <img class="feedbacks__card__avatar" src="/img/icons/avatar.png" alt="avatar icon">
                                    <div class="feedbacks__card__student">
                                        <h3>Abdullayev Muhammad</h3>
                                        <p>Backend</p>
                                    </div>
                                </div>
                                <div class="feedbacks__card__body">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it </p>
                                </div>
                                <div class="feedbacks__card__footer">
                                    25.10.2020
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</section>

<!--SECTION CONTACT-->
<section class="section contact">
    <div class="flex-container" id="contact">
        <img class="contact__img" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" src="/img/contact.png" alt="contact image">

        <div class="contact__right" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
            <h2 class="section__heading">Aloqa</h2>
            <form class="contact__form form">
                <input class="input" id="name" type="text" placeholder="Ism" minlength="3" required>
                <input class="input" id="phone" type="tel" placeholder="Telefon" required>
                <input class="input" id="email" type="email" placeholder="Email" required>
                <button class="contact__submit button" type="submit">Yuborish</button>
            </form>
        </div>
    </div>
</section>

<!--SECTION PARTNERS-->
<section class="section partners">
    <div class="container">
        <div class="splide partners__slider" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <a class="partners__card" href="#" target="_blank">
                            <img src="/img/partners/1.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a class="partners__card" href="#" target="_blank">
                            <img src="/img/partners/2.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a class="partners__card" href="#" target="_blank">
                            <img src="/img/partners/3.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a class="partners__card" href="#" target="_blank">
                            <img src="/img/partners/4.png" alt="">
                        </a>
                    </li>
                    <li class="splide__slide">
                        <a class="partners__card" href="#" target="_blank">
                            <img src="/img/partners/5.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--FOOTER-->
<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <img class="footer__logo" src="/img/icons/logo.svg" alt="logo">
            <p class="footer__text">Copyright © FulFil education 2021. All Rights Reserved.</p>
            <div class="footer__contact">
                <a class="footer__phone" href="tel: +998993421009">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.56613 1.84962C3.73432 1.68174 3.95559 1.59394 4.18013 1.59394C4.31865 1.59394 4.45865 1.62716 4.58827 1.69597C5.55658 2.20851 6.72021 4.16926 6.75007 4.21959L6.75059 4.22047C6.88377 4.4539 6.9345 4.69742 6.88615 4.87183C6.85649 4.97861 6.79004 5.05989 6.68326 5.1198L3.98851 9.64971C2.72167 8.38286 1.94869 7.17475 1.69064 6.05948M3.56613 1.84962L2.81362 2.60213C1.76301 3.65304 1.3958 4.78344 1.69064 6.05948M3.56613 1.84962L3.74276 2.02655M3.56613 1.84962L4.16529 9.47293M1.69064 6.05948L1.9342 6.00312C1.66171 4.82369 1.99106 3.77854 2.9904 2.77891L2.81383 2.60234L2.99042 2.77888M1.69064 6.05948L1.93422 6.0032C2.17737 7.05394 2.91446 8.2221 4.16529 9.47293C4.16529 9.47293 4.16529 9.47293 4.16529 9.47293M4.16529 9.47293L8.5273 13.8346C9.87509 15.1823 11.1046 15.9217 12.2079 16.1056C13.2928 16.2865 14.2945 15.9362 15.2213 15.0096C15.2213 15.0095 15.2213 15.0095 15.2213 15.0095L15.9738 14.257C16.168 14.0629 16.2117 13.7716 16.0834 13.5293L16.0833 13.5292C15.9726 13.32 15.7736 13.0852 15.5215 12.8446C15.272 12.6065 14.983 12.3745 14.7055 12.1694C14.1705 11.7739 13.6917 11.4884 13.6513 11.4644C13.454 11.3526 13.282 11.3328 13.1947 11.3557C13.159 11.366 13.129 11.3857 13.0983 11.4402L13.0928 11.45L13.0863 11.4594L13.0555 11.5042L13.049 11.5136L13.0416 11.5224C12.9354 11.6499 12.7528 11.8662 12.5726 12.0673C12.4826 12.1678 12.3916 12.2661 12.3101 12.3484C12.2329 12.4264 12.1509 12.5037 12.082 12.5505L12.0818 12.5506C12.0186 12.5934 11.9552 12.6334 11.8917 12.6704C12.2064 12.7764 12.5512 12.8586 12.9213 12.8969L12.9218 12.897C13.2217 12.9286 13.44 13.1967 13.4088 13.4974L13.4088 13.4978C13.3792 13.7783 13.1422 13.9874 12.8653 13.9874C12.8458 13.9874 12.8279 13.9862 12.8131 13.985L12.8086 13.9846L12.8086 13.9845C10.6772 13.7632 9.28659 12.4142 9.21819 12.3466L9.21725 12.3456C9.19315 12.3215 9.1769 12.2976 9.16747 12.2825C9.16129 12.2768 9.15365 12.2696 9.14577 12.2617L6.0227 9.13863C6.01412 9.13327 6.00448 9.12667 5.99467 9.11881L5.9921 9.11676L5.99212 9.11675C5.91675 9.05482 4.24114 7.65665 4.016 5.48851L4.01599 5.48846C3.98482 5.1876 4.2036 4.91972 4.50298 4.88809L4.50986 4.88737L4.50986 4.88746C4.80147 4.86479 5.07189 5.07067 5.10359 5.37543L5.10359 5.37548C5.13338 5.66254 5.19799 5.9347 5.2852 6.18979C5.3343 6.09915 5.38944 6.0087 5.45055 5.91844L5.45063 5.91832C5.49732 5.84943 5.57467 5.76743 5.65261 5.69029C5.73489 5.60885 5.83328 5.51789 5.93373 5.42788C6.13488 5.24765 6.35127 5.06498 6.47857 4.95872L6.48715 4.95157L6.49633 4.9452L6.54082 4.91435L6.55057 4.90759L6.56093 4.90178C6.61624 4.87074 6.63535 4.84063 6.64527 4.80492C6.66864 4.72037 6.64961 4.54875 6.53446 4.34612C6.51168 4.30778 6.22645 3.82943 5.8309 3.29437C5.62594 3.01712 5.39395 2.72819 5.15592 2.47875C4.91531 2.22662 4.68053 2.02767 4.47132 1.91693L4.47104 1.91679C4.37816 1.86748 4.2785 1.84394 4.18013 1.84394C4.0211 1.84394 3.86363 1.90595 3.74287 2.02644C3.74283 2.02647 3.74279 2.02651 3.74276 2.02655M4.16529 9.47293L2.99042 2.77888M3.74276 2.02655L2.99042 2.77888M3.74276 2.02655L2.99042 2.77888M14.2002 10.5185L14.1976 10.517C13.7772 10.2771 13.3165 10.1869 12.9032 10.3016C12.5949 10.3871 12.3433 10.581 12.1741 10.8552C12.0276 11.0301 11.8652 11.2179 11.7282 11.3703C11.6577 11.4487 11.595 11.5166 11.5453 11.5681C11.5203 11.5939 11.4997 11.6144 11.4838 11.6296C11.4717 11.641 11.4651 11.6467 11.4629 11.6486C11.1418 11.8649 10.8868 11.9374 10.6646 11.9152C10.4403 11.8928 10.1998 11.7689 9.91903 11.4881L6.51211 8.08121C6.23122 7.80032 6.10731 7.55966 6.08485 7.33543C6.06258 7.1132 6.13512 6.85854 6.35113 6.53815C6.35301 6.53593 6.35876 6.52921 6.37041 6.51692C6.38565 6.50084 6.40624 6.4802 6.4321 6.4552C6.4837 6.4053 6.55164 6.34255 6.63014 6.272C6.78268 6.13491 6.97044 5.97254 7.14543 5.82581C7.41962 5.65663 7.61347 5.40497 7.69893 5.09672L7.69895 5.09665C7.81337 4.68349 7.7233 4.22286 7.48179 3.7994L7.48181 3.7994L7.48047 3.79711C7.45236 3.74901 7.12873 3.20085 6.66824 2.58761C6.21543 1.98459 5.60005 1.27678 4.98339 0.950573C4.31514 0.597016 3.50556 0.718768 2.97061 1.25336C2.9706 1.25336 2.9706 1.25337 2.97059 1.25337L2.2175 2.00587L2.21743 2.00594C0.974201 3.24917 0.507093 4.68402 0.868959 6.24927L0.868968 6.24931C1.16718 7.53824 2.02838 8.88225 3.39234 10.2459L7.75404 14.6079L7.75405 14.6079C9.48317 16.337 11.1736 17.2486 12.7651 17.2486C13.9411 17.2486 15.027 16.7498 15.9943 15.7828L15.9943 15.7828L16.7468 15.0303C17.2815 14.4956 17.4032 13.6854 17.0496 13.0174C16.7233 12.4006 16.0155 11.7853 15.4121 11.3322C14.7984 10.8715 14.2495 10.5474 14.2002 10.5185Z"
                              fill="#273B39" stroke="#273B39" stroke-width="0.5"/>
                    </svg>

                    <span>99 342 10 09</span>
                </a>

                <ul class="footer__socials">
                    <li class="footer__socials__item">
                        <a class="footer__socials__link" href="#">
                            <img src="/img/icons/telegram.svg" alt="telegram icon">
                        </a>
                    </li>
                    <li class="footer__socials__item">
                        <a class="footer__socials__link" href="#">
                            <img src="/img/icons/facebook.svg" alt="facebook icon">
                        </a>
                    </li>
                    <li class="footer__socials__item">
                        <a class="footer__socials__link" href="#">
                            <img src="/img/icons/instagram.svg" alt="instagram icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="dark-layer d-none"></div>
<div class="modals"></div>

<%- include('parts/footer') %>